header{
    min-height: 70px;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ddd;
    object-fit: cover;
}

header .logo{
    flex: 1;
}

header a{
    text-transform: uppercase;
    color: teal;
}

header ul li{
    display: inline-block;
    opacity: 0.7;
    padding: 0 10px;
}
header ul li:hover{
    opacity: 1;
}

.menu{
    display: none;
}
